@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* React Day Picker */

.rdp-root {
  --rdp-accent-color: rgb(37 99 235);
}

.rdp-day_selected,
.rdp-day_range_start,
.rdp-day_range_end {
  background-color:  #f59e0b!important;
  color: white !important;
}

.rdp-day_range_middle {
  background-color: #f59e0b !important;
  color: #1f2937 !important;
}